/* CSS specific to the Optimizely module */
.form-item.form-item-optimizely-project-code {
  float: left;
  margin-right: 50px;
}

div.form-item-optimizely-enabled {
  margin-bottom:50px;
}

.form-item-optimizely-include {
  clear: both;
}

/*
 * Project Listing /admin/config/system/optimizely
 */
.admin-links {
  margin-bottom: 20px;
}

#edit-optimizely-enabled .form-item-optimizely-enabled {
  border: 5px solid green;
  float: left;
  padding: 5px;
  margin-right: 10px;
  background-color: #ccffdd;
}

#edit-optimizely-enabled.disabled .form-item-optimizely-enabled {
  border: 5px solid red;
  background-color: #ffcccc;
}

.even .disabled {
  background-color: #ffcccc;
  border: 1px solid #8e4d4d;
}

.odd .disabled {
  background-color: #c77171;
  border: 1px solid #8e4d4d;
}

.even .enabled {
  background-color: #ccffdd;
  border: 1px solid #479661;
}

.odd .enabled {
  background-color: #74fda2;
  border: 1px solid #479661;
}

table.projects .default-entry {
  border: 2px dashed green;
}

.page-admin-config-system-optimizely table td {
  vertical-align: top;
}

.page-admin-config-system-optimizely td.title-column {
  font-weight: bold;
  font-size: 1.2em;
}

.sticky-header th,
.sticky-table th {
  font-size: 1.2em;
}